.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1;
    width:800px;
    height:100%;
}
.panel_main{
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    width: 60%;
    height: 100%;
}