.PanelDeviceCount_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PanelDeviceCount_title{
    font-size: 12px;
}

.PanelDeviceCount_count{
    font-size: 56px;
}

